body {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#one {
    background: orange;
}

.top {
    background: salmon;
    height: 30vh;
    width: 50vw;
}

.middle {
    background: cyan;
    height: 30vh;
    width: 20vw;
}

.bottom {
    background: lightgreen;
    height: 30vh;
    width: 20vw;
}
